
/* 
  asterisco seleciona todos os elementos da página.
  usado aqui para facilitar, mas em páginas com muitos elementos 
  deixa o processo pesado e não deve ser usado.
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(221, 161, 171);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.checkbox .trace {
    width: 90px;
    height: 8px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: .5s ease-in-out;    /* transição com início e fim suave */
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

/* inibe o elemento do checkbox */
#toggle {
    display: none;
}

/* move 1o. traço 45o para formar o X */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

/* remove/inclui o traço central */
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

/* move 3o. traço 45o inverso para formar o X */
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}